body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

#header {
    color: rgb(193, 50, 50);
    text-align: center;
    text-shadow: 10px 10px 10px black;
}

.books-container {
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 1000px;
}

.books-options-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
    color: red;
    width: 200px;
}

::placeholder {
    color: red;
    opacity: 1;
}

#books-dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
    color: red;
    width: 200px;
}

#books-dropdown-sort {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
    color: red;
    width: 200px;
}

.books-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.books-item {
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
    color: red;
    width: 200px;
}